{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Hello {{ user.username }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'EspDashboardApp/css/style.css' %}">

</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-custom">
  <div class="container-fluid">
    <a class="logo" href="{% url 'startupPage' %}">LOGO</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'showToken' %}">Show Token</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out ({{ user.username }})</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign in</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid body-container">
    <h3> Your Authorization Token: {{token }} </h3>
    </div>

</body>
</html>
